body {
    font-family: Raleway;
    line-height: 1;
    background: white;
    padding: 1em 3em 3em 3em;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*    max-width: 50em;*/
}

header {
    text-align: center;
}

header nav {
    padding-bottom: 5pt;
    display: inline-block;
}

header nav a {
    text-decoration: none;
    color: #7f9bad;
    font-size: .8em;
}

.headerImage img {
    width: 100%;
    position: relative;
    display: block;
}

h1 {
    letter-spacing: 6pt;
    font-weight: 800;
    position: absolute;
    width: 100%;
    top: 10%;
    display: block;
    color: white;
    vertical-align: center;
}

nav {
    font-weight: bold;
    color: #44545e;
}

h1,
h2,
h3,
nav {
    text-transform: uppercase;
}

h2 {
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: .9pt;
    color: #44545e;
}

h3 {
    letter-spacing: 1.25pt;
    font-size: .9em;
    font-weight: 900;
    color: #44545e;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
}

p {
    font-size: .85em;
    color: #5a6871;
    line-height: 1.4;
    font-family: Lato;
}

ul a {
    font-weight: 700;
    color: #7e9aac;
    font-size: .9em;
    padding-left: 1em;
    line-height: 1.5;
    text-decoration: none;
}

footer {
    background-color: #cdf3f6;
    text-align: center;
}

footer nav a {
    text-decoration: none;
    color: #44545e;
    font-size: .8em;
}
