body {
    font-family: "Raleway", sans-serif;
    color: #44545E;
}

.navone {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

li {}

.navone a {
    color: #7A97A9;
    text-decoration: none;
}

.navone ul {
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
}

img {
    padding: ;
}

p {
    font-size: 16px;
    font-weight: value;
    font-style: value;
    text-align: value;
    text-decoration: value;
    text-transform: value;
}

li {
    color: #7A97A9;
}

.footer {
    color: #7A97A9;
    font-size: 10px;
    font-weight: 400;
}

footer {
    background-color: #CDF3F6;
    font-size: 12px;
    font-weight: bold;
    text-align: value;
    text-transform: uppercase;
}
