body {
    font-family: "Raleway", sans-serif;
    color: #44545E;
}

.navone {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    max-width: 600px;
    margin: 0 auto;
}

.navone a {
    color: #7A97A9;
    list-style: none;
}

.navone ul {
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: value;
    font-style: value;
    text-align: value;
    text-decoration: value;
    text-transform: value;
}

.navtwo {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

.navtwo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

.navtwo li {
    color: #44545E;
    font-size: 24px;
    font-weight: 400;
    list-style: none;
}

.footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: #CDF3F6;
    min-height: 100px;
    padding-top: 20px;
}
