body {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #44545e;
    margin: 0;
}

.caps {
    text-transform: uppercase;
    font-weight: bolder
}

ul {
    list-style: none;
}

ul.navList {
    text-align: center;
    padding: 14px;
}

nav li {
    display: inline-block;
    margin: 0 7%;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: #7b98aa;
}

ul.social li a {
    color: #435963;
}

h1 {
    background: black;
    background-image: url(../images/blog_header_bg.jpg);
    background-size: 100% 100%;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 36pt;
    padding: 288px 0 177px 0;
    letter-spacing: 18px;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 23pt;
    margin: 34px 0 71px 0;
}

p {
    font-size: 11pt;
}

img {
    width: 100%;
}

#aboutImg {
    width: 100%;
}

ul.recentIssues {
    list-style: disc
}

footer {
    background: #cdf3f6;
    text-align: center;
    height: 408px;
}

form.touchForm {
    text-transform: uppercase;
    border-bottom: solid 2px;
    padding: 73px 0 83px 0px;
}

input,
#commentBox {
    font-size: 13pt;
    font-family: raleway;
    font-weight: bold;
    color: #435963;
}

form.touchForm input {
    padding: 16px 123px;
    margin-right: 27px;
    margin-left: -38px;
    text-align: center;
    border: none;
}

button {
    border: solid 2px #435963;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #435963;
    font-size: 13pt;
}

button.touchButton {
    background: #cdf3f6;
    padding: 14px 50px;
    margin-left: 2%;
}

ul.social {
    font-size: 29pt;
    margin: 0;
    padding-top: 70px;
    padding-left: 0px;
}

.social li {
    display: inline-block;
    margin: 0 25px;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main {
    margin-top: 78px;
}

.flex-item.right {
    width: 366px;
    margin-top: 65px;
    margin-left: 109px;
}

.flex-item.left {
    width: 959px;
    margin-left: 87px;
}

.copy {
    margin-top: 32px;
    font-size: 14pt;
}

.commentForm {
    text-align: center;
    width: 90%;
    margin: auto;
}

.commentForm input {
    border: solid 2px;
}

.commentDiv {
    justify-content: center;
}

#commentBox {
    resize: vertical;
    border: solid 2px;
}

.submit {
    background: white;
    width: 100%;
}
