    * {
        font-family: Lato, sans-serif;
    }
    
    #navmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    header.header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    header.header nav ul li {
        display: inline-block;
        color: teal;
        padding: 0em 6em 0em 5em;
    }
    
    a {
        text-decoration: none;
    }
    
    header.header nav ul {
        color: rgb(71, 84, 93);
    }
    
    .textheader {
        position: absolute;
        letter-spacing: 1em;
        top: 30em;
        left: 15em;
        text-align: center;
    }
    
    main {
        display: flex;
        margin: 1em;
        flex-direction: column;
    }
    
    main img {
        max-width: 100%;
    }
    
    .maincolumn {
        display: flex;
        margin: 1em;
        text-align: center;
        justify-content: space-between;
    }
    
    .middle {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    div.aboutsection {
        display: flex;
        justify-content: center;
    }
    
    div.aboutp {
        margin: 2em;
        background-color: rgb(212, 242, 245);
        padding-top: 7em;
        text-align: center;
        padding-bottom: 7em;
    }
    
    article {
        line-height: 0;
        column-count: 3;
        column-gap: 0px
    }
    
    .articlepic img {
        width: 100%;
        height: auto;
        padding: 1em;
    }
    
    .articleheader {
        text-align: center;
    }
    
    article.forms {
        display: flex;
        margin: 4em;
        flex-direction: column;
        justify-content: space-between;
    }
    
    div.row {
        display: flex;
        justify-content: space-between;
    }
    
    div.column-6 {
        width: 33%;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    
    div.column-6 input {
        width: 100%;
        padding-top: 1em;
        border: 2px solid black;
    }
    
    div.column-12 {
        width: 100%;
    }
    
    div.texbox {
        display: flex;
        flex-direction: column;
    }
    
    textarea {
        margin-bottom: 1em;
        width: 100%;
        border: 2px solid black;
        height: 12em;
    }
    
    article h2 {
        color: rgb(71, 84, 93);
        font-family: Lato, sans-serif;
        text-align: center;
        letter-spacing: 2px;
    }
    
    footer h2 {
        color: rgb(71, 84, 93);
        font-family: Lato, sans-serif;
        text-align: center;
        letter-spacing: 2px;
    }
    
    footer {
        padding-bottom: 2em;
        width: 100%;
        text-align: center;
        background-color: rgb(212, 242, 245);
    }
    
    nav.icons li {
        display: inline-block;
        margin-top: 3em;
        padding: 0em 1em 0em 1em;
    }
    
    div.contact input {
        margin-left: 5em;
        border: 1px solid;
        padding-left: 3em;
        background-color: transparent;
        padding-right: 3em;
        text-align: center;
    }
    
    div.footertext {
        background-color: rgb(212, 242, 245);
        margin-bottom: 1em;
        text-align: center;
        font-size: 8pt;
        font-family: Lato, sans-serif;
        width: 100%;
        border-top: 1px solid black;
    }
    
    .hamburger {
        display: none;
    }
    
    @media screen and (max-width: 700px) {
        .hamburger {
            display: block;
        }
        nav ul {
            display: none;
        }
    }
